<div class="container">
  <h1>
    Accessibility statement for
    <a href="https://www.ros.hw.ac.uk/">ROS Theses Repository</a>
  </h1>
  <p>
    <strong
      >Website accessibility statement in line with Public Sector Body (Websites
      and Mobile Applications) (No. 2) Accessibility Regulations 2018</strong
    >
  </p>
  <p>
    This accessibility statement applies to the &ldquo;<a
      href="https://www.ros.hw.ac.uk/"
      >ROS Theses Repository</a
    >&rdquo; - <a href="https://www.ros.hw.ac.uk/">https://www.ros.hw.ac.uk/</a>
  </p>
  <p>
    This website is hosted by the Digital Library Department, University of
    Edinburgh on behalf of Heriot Watt University. It contains full-text copies
    of all Heriot-Watt University PhD theses awarded from 2009 onwards. We want
    as many people as possible to be able to use this application. For example,
    that means you should be able to:
  </p>
  <ul>
    <li>
      Using your browser settings, change colours, contrast levels and fonts
    </li>
    <li>zoom in up to 200% without the text spilling off the screen</li>
    <li>navigate most of the website using just a keyboard</li>
    <li>
      navigate most of the website using speech recognition software such as
      Dragon Naturally Speaking
    </li>
    <li>
      listen to most of the website using a screen reader (including the most
      recent versions of Job Access with Speech (JAWS)
    </li>
    <li>Experience no time limits when using the site</li>
    <li>There is no flashing, scrolling or moving text</li>
  </ul>
  <p>We've also made the website text as simple as possible to understand.</p>
  <h2>Customising the website</h2>
  <p>
    AbilityNet has advice on making your device easier to use if you have a
    disability. This is an external site with suggestions to make your computer
    more accessible:
  </p>
  <p>
    <a href="https://mcmw.abilitynet.org.uk/"
      >AbilityNet - My computer my way</a
    >
  </p>
  <p>
    With a few simple steps you can customise the appearance of our website
    using your browser settings to make it easier to read and navigate:
  </p>
  <p>
    <a href="https://www.ed.ac.uk/about/website/accessibility/customising-site"
      >Additional information on how to customise our website appearance</a
    >
  </p>
  <p>
    If you are a member of University staff or a student, you can use the free
    SensusAccess accessible document conversion service:
  </p>
  <p>
    <a
      href="https://www.ed.ac.uk/student-disability-service/staff/supporting-students/accessible-technology"
      >SenusAccess Information</a
    >
  </p>
  <h2>How accessible this website is</h2>
  <p>We know some parts of this website are not fully accessible:</p>
  <ul>
    <li>
      The website is not fully compatible with assistive technologies (JAWS,
      TextHelp, Dragon Naturally Speaking)
    </li>
    <li>It is not possible to tab through all the content on all browsers</li>
    <li>
      Tabbing highlights sometimes obscure the content they are highlighting
    </li>
    <li>Data entry and validation is not fully robust</li>
    <li>Not all hyperlinks are formatted correctly formatted hypertext</li>
    <li>Not all colour contrasts meet the recommended levels</li>
    <li>Not all non-text content has appropriate alternative text</li>
    <li>No 'skip to main content' button is present throughout the website</li>
    <li>
      The website is not fully compatible with mobile accessibility
      functionality (Android, iOS)
    </li>
  </ul>
  <h2>Feedback and contact information</h2>
  <p>
    If you need information on this website in a different format, including
    accessible PDF, large print, audio recording or braille please contact:
  </p>
  <p>Email: <a href="mailto:open.access@hw.ac.uk"></a>open.access@hw.ac.uk</p>
  <p>Phone: +44 (0)131 451 3577</p>
  <p>
    British Sign Language (BSL) users can contact us via
    <a href="http://contactscotland-bsl.org/">contactSCOTLAND-BSL</a>, the
    on-line BSL interpreting service
  </p>
  <p>We'll consider your request and get back to you in 5 working days.</p>
  <h2>Reporting accessibility problems with this website</h2>
  <p>
    We are always looking to improve the accessibility of this website. If you
    find any problems not listed on this page, or think we're not meeting
    accessibility requirements, please contact:
  </p>
  <p>Email: <a href="mailto:open.access@hw.ac.uk"></a>open.access@hw.ac.uk</p>
  <p>Phone: +44 (0)131 451 3577</p>
  <p>
    British Sign Language (BSL) users can contact us via
    <a href="http://contactscotland-bsl.org/">contactSCOTLAND-BSL</a>, the
    on-line BSL interpreting service
  </p>
  <p>We'll consider your request and get back to you in 5 working days.</p>
  <h2>Enforcement procedure</h2>
  <p>
    The Equality and Human Rights Commission (EHRC) is responsible for enforcing
    the Public Sector Bodies (Websites and Mobile Applications) (No. 2)
    Accessibility Regulations 2018 (the &lsquo;accessibility
    regulations&rsquo;). If you&rsquo;re not happy with how we respond to your
    complaint please contact the Equality Advisory and Support Service (EASS)
    directly:
  </p>
  <p>
    <a href="https://www.equalityadvisoryservice.com/"
      >Contact details for the Equality Advisory and Support Service (EASS)</a
    >
  </p>
  <p>
    The government has produced information on how to report accessibility
    issues:
  </p>
  <p>
    <a
      href="https://www.gov.uk/reporting-accessibility-problem-public-sector-website"
      >Reporting an accessibility problem on a public sector website</a
    >
  </p>
  <h2>Contacting us by phone using British Sign Language</h2>
  <p>
    British Sign Language service Contact Scotland BSL runs a service for
    British Sign Language users and all of Scotland&rsquo;s public bodies using
    video relay. This enables sign language users to contact public bodies and
    vice versa. The service operates 24 hours a day, 7 days a week.
  </p>
  <p>
    <a href="https://contactscotland-bsl.org/"
      >British Sign Language Scotland service details</a
    >
  </p>
  <h2>Technical information about this website's accessibility</h2>
  <p>
    The University of Edinburgh is committed to making its websites and
    applications accessible, in accordance with the Public Sector Bodies
    (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
  </p>
  <p>
    This website is partially compliant with the Web Content Accessibility
    Guidelines (WCAG) 2.1 AA standard, due to the non-compliances listed below.
  </p>
  <p>The full guidelines are available at</p>
  <p>
    <a href="https://www.w3.org/TR/WCAG21/"
      >Web Content Accessibility Guidelines (WCAG) 2.1 AA standard</a
    >
  </p>
  <h2>Non accessible content</h2>
  <p>The content listed below is non-accessible for the following reasons.</p>
  <p>Noncompliance with the accessibility regulations.</p>
  <p>
    The following items to not comply with the WCAG 2.1 AA success criteria:
  </p>
  <ul>
    <li>Some non-text content does not have text alternatives.</li>
    <ul>
      <li>
        <u
          ><a href="https://www.w3.org/TR/WCAG21/#non-text-content"
            >1.1.1 Non-text Content</a
          ></u
        >
      </li>
    </ul>
  </ul>
  <ul>
    <li>
      There may not be sufficient colour contrast between font and background
      colours, there are issues where text size is very small
    </li>
    <ul>
      <li>
        <u
          ><a
            href="https://www.w3.org/TR/WCAG21/#visual-audio-contrast-contrast"
            >1.4.3 - Contrast (Minimum)</a
          ></u
        >
      </li>
    </ul>
  </ul>
  <ul>
    <li>
      Not all foreground and background colours can be selected by the user.
      (Note this is a WCAG 2.1 AAA criteria)
    </li>
    <ul>
      <li>
        <u
          ><a href="https://www.w3.org/TR/WCAG21/#visual-presentation"
            >1.4.8 Visual Presentation (AAA)</a
          ></u
        >
      </li>
    </ul>
  </ul>
  <ul>
    <li>
      There is justified text present. (Note this is a WCAG 2.1 AAA criteria)
    </li>
    <ul>
      <li>
        <u
          ><a href="https://www.w3.org/TR/WCAG21/#visual-presentation"
            >1.4.8 Visual Presentation (AAA)</a
          ></u
        >
      </li>
    </ul>
  </ul>
  <ul>
    <li>Not all the content reflows when the page is magnified above 200%</li>
    <ul>
      <li>
        <u
          ><a href="https://www.w3.org/TR/WCAG21/#reflow">1.4.10 - Reflow</a></u
        >
      </li>
    </ul>
  </ul>
  <ul>
    <li>Tooltips are not present for all icons and images</li>
    <ul>
      <li>
        <u
          ><a href="https://www.w3.org/TR/WCAG21/#content-on-hover-or-focus"
            >1.4.13 - Content on Hover or Focus</a
          ></u
        >
      </li>
    </ul>
  </ul>
  <ul>
    <li>
      There is no 'skip to main content' option available throughout the website
    </li>
    <ul>
      <li>
        <u
          ><a href="https://www.w3.org/TR/WCAG21/#bypass-blocks"
            >2.4.1 - Bypass Blocks</a
          ></u
        >
      </li>
    </ul>
  </ul>
  <ul>
    <li>
      There is unformatted links present that don't determine the purpose of the
      link
    </li>
    <ul>
      <li>
        <u
          ><a href="https://www.w3.org/TR/WCAG21/#link-purpose-in-context"
            >2.4.4 Link Purpose (In Context)</a
          ></u
        >
      </li>
    </ul>
  </ul>
  <ul>
    <li>
      There missing labels present in the website so fail to describe the
      purpose of the input form
    </li>
    <ul>
      <li>
        <u
          ><a href="https://www.w3.org/TR/WCAG21/#headings-and-labels"
            >2.4.6 Headings and Labels</a
          ></u
        >
      </li>
      <li>
        <u
          ><a href="https://www.w3.org/TR/WCAG21/#labels-or-instructions"
            >3.3.2 Labels or Instruction</a
          ></u
        >
      </li>
    </ul>
  </ul>
  <ul>
    <li>
      Visual information to identify user interface components, such as keyboard
      focus, do not always have a sufficient contrast ratio
    </li>
    <ul>
      <li>
        <u
          ><a href="https://www.w3.org/TR/WCAG21/#focus-visible"
            >2.4.7 Focus Visible</a
          ></u
        >
      </li>
    </ul>
  </ul>
  <ul>
    <li>No error suggestions or corrections are automatically</li>
    <ul>
      <li>
        <u
          ><a href="https://www.w3.org/TR/WCAG21/#error-suggestion"
            >3.3.3 Error Suggestion</a
          ></u
        >
      </li>
    </ul>
  </ul>
  <ul>
    <li>Screen readers are not able to identify some parts of the page</li>
    <li>There are PDF's that are not currently accessible</li>
    <ul>
      <li>
        <u
          ><a href="https://www.w3.org/TR/WCAG21/#4.1.2 - Name, Role, Value"
            >4.1.2 - Name, Role, Value</a
          ></u
        >
      </li>
    </ul>
  </ul>
  <p>
    Unless specified otherwise, a complete solution, or significant improvement,
    will be in place by October 2023.
  </p>
  <h2>Disproportionate burden</h2>
  <p>
    We are not currently claiming that any accessibility problems would be a
    disproportionate burden to fix.
  </p>
  <h2>Content that is not within the Scope of the Accessibility Regulations</h2>
  <p>
    At this time, we do not believe that any content is outside the scope of the
    accessibility regulations.
  </p>
  <h2>What we're doing to improve accessibility</h2>
  <p>
    We will continue to address and make adequate improvements to the
    accessibility issues highlighted. Unless specified otherwise, a complete
    solution or significant improvement will be in place by October 2023.
  </p>
  <p>
    While we are in the process of resolving these accessibility issues we will
    ensure reasonable adjustments are in place to make sure no user is
    disadvantaged. As changes are made, we will continue to review accessibility
    and retest the accessibility of this website.
  </p>
  <p>
    We are planning to upgrade the site to the most recent release of the system
    architecture before the end of 2023 and improving accessibility will be a
    key component of this process.
  </p>
  <h2>Preparation of this accessibility statement</h2>
  <p>
    This statement was first prepared on 1st August 2020. It was last reviewed
    on 13th October 2022.
  </p>
  <p>
    This website was last tested by the Library and University Collections
    Digital Library team, University of Edinburgh in July 2022 following on from
    previous automated testing of the system the previous year. This was
    primarily using the Google Chrome (100.0.4896.127), Mozilla Firefox
    (91.8.0esr), Internet Explorer (11.0) and Microsoft Edge (100.0.1185.39)
    browsers for comparative purposes. Internet Explorer was considered the most
    commonly used browser by disabled people, notably due to its accessibility
    features and compatibility with assistive technology, as shown in a UK
    government survey:
  </p>
  <p>
    <a
      href="https://accessibility.blog.gov.uk/2016/11/01/results-of-the-2016-gov-uk-assistive-technology-survey/"
      >UK Government Assistive Technology Browser Survey</a
    >
  </p>
  <p>
    However, a more recent world-wide usage levels survey for different screen
    readers and browsers shows that Chrome, Mozilla Firefox and Microsoft Edge
    are increasing in popularity and is now the favoured browser for screen
    readers:
  </p>
  <p>
    <a href="https://webaim.org/projects/screenreadersurvey9/"
      >WebAIM: Screen Reader User Survey</a
    >
  </p>
  <p>
    The aforementioned three browsers have been used in certain questions for
    reasons of breadth and variety.
  </p>
  <p>
    We ran automated testing using
    <a href="https://wave.webaim.org/">Wave WEBAIM</a> and then manual testing
    that included:
  </p>
  <ul>
    <li>Spell check functionality;</li>
    <li>Scaling using different resolutions and reflow;</li>
    <li>
      Options to customise the interface (magnification, font, background
      colour, etc);
    </li>
    <li>Keyboard navigation and keyboard traps;</li>
    <li>Data validation;</li>
    <li>Warning of links opening in new tab or window;</li>
    <li>Information conveyed in the colour or sound only;</li>
    <li>Flashing, moving or scrolling text;</li>
    <li>Operability if JavaScript is disabled;</li>
    <li>Use with screen reading software (for example JAWS);</li>
    <li>
      Assistive software (TextHelp Read and Write, Windows Magnifier, ZoomText,
      Dragon Naturally Speaking, TalkBack and VoiceOver);
    </li>
    <li>Tooltips and text alternatives for any non-text content;</li>
    <li>Time limits;</li>
    <li>
      Compatibility with mobile accessibility functionality (Android and iOS).
    </li>
  </ul>
  <h2>Change Log</h2>
  <p>
    Since our first evaluation and statement which was based on automated
    testing we have been doing extensive manual testing including with a range
    of assistive technology to ensure we have a clear picture of the
    accessibility issues and how best to resolve them.
  </p>
</div>
