<footer class="text-lg-start py-3">

  <!-- Grid container -->

  <!-- Copyright -->
  <div class="container-fluid" >
  <div class="container">

  <!-- <div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white">
    <div class="content-container d-flex flex-row"> -->
  <div class="row">
      <div class="col text-white">
        <p class="text-left">&#169;Heriot-Watt University, Edinburgh, Scotland, UK, EH14 4AS.
        </p>
        <p class="text-left">Maintained by the Library</p>
        <p class="text-left">Tel: +44 (0)131 451 3577</p>
        <p class="text-left">Library Email: <a class="text-white"
            href="mailto:libhelp@hw.ac.uk">libhelp@hw.ac.uk</a></p>
        <p class="text-left">ROS Email: <a class="text-white" href="mailto:open.access@hw.ac.uk">open.access@hw.ac.uk</a></p>
        <p class="text-left mt-2">Scottish registered charity number: SC000278</p>
      </div>

    <div class="col">
        <div class="row footer-info list-unstyled small d-flex justify-content-center mb-0">
          <div class="col">
            <a class="text-white" routerLink="/info/about">About</a>
          </div>
          <div class="col">
            <a class="text-white" routerLink="/info/copyright">Copyright</a>
          </div>
          <div class="col">
            <a class="text-white" routerLink="/info/accessibility">Accessibility</a>
          </div>
        </div>
        <div class="row footer-info list-unstyled small d-flex justify-content-center mb-0">

        <div class="col">
            <a class="text-white" target="_blank" href="https://www.hw.ac.uk/uk/about/policies.htm">Policies</a>
          </div>
          <div class="col">
            <a class="text-white" target="_blank" href="https://www.hw.ac.uk/uk/about/policies/cookies.htm">Cookies</a>
          </div>
          <div class="col">
            <a class="text-white" routerLink="/info/feedback">Feedback</a>
          </div>
      </div>

    </div>
  </div>
  </div>
  </div>
  <!-- Copyright -->
</footer>
