<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="d-flex flex-wrap">
      <div>
        <h2>Welcome to ROS</h2>
        <p class="lead"><a href="http://www.ros.hw.ac.uk">The ROS Theses Repository</a>
          contains full-text copies of all Heriot-Watt University PhD theses awarded from 2009 onwards.
        </p>

        <p>It is mandatory for any student who completes a doctoral thesis to submit a digital copy for
          inclusion in ROS. In addition, the metadata-only records of older theses
          (previously held in the University Library catalogue) are included in ROS,
          with full text digital copies being sought on a voluntary basis.
          If you have a digital copy of your thesis and you wish to store it in ROS,
          please contact us.
        </p>

        <p>Go <a href="/about">HERE</a> to find out more about ROS.</p>
      </div>
    </div>

  </div>
</div>
